body {
  margin: 0;
  padding: 0;
  background-image: url('../src/img/bg.jpg');
  background-size: cover;
}

p, h1, h2, h3, h4, li, a{
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5rem;


  /* font-family: 'Sedgwick Ave', cursive; */
}
